@model IEnumerable<The_treasure_of_books.Models.Shelves>

@{
    ViewData["Title"] = "showShelves";
}

<h1>מדפים</h1>

@* <p>
    <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
               שם ספריה
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Libraryid.LiberryName)
                </td>
            <td>
@*                 @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                    @Html.ActionLink("הוסף ספר", "CreateBook", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
