@model IEnumerable<The_treasure_of_books.Models.Library>

@{
    ViewData["Title"] = "showLibrery";
}

<h1>ספריות</h1>

<p>
    <a asp-action="Create"><b>הוסף ספריה</b></a>
    <br />
    <a asp-action="showShelves"><b>מדפים</b></a>
    <br />
    <a asp-action="showBooks"><b>ספרים</b></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiberryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiberryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genre)
            </td>
            <td>
               
                @Html.ActionLink("הוסף מדף", "AddShelve", new { id = item.Id })
                @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
           
        </tr>
}
    </tbody>
</table>
